<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457366555778-vv0tgm2u4ab79p9rp66mnbgm8rs0fdns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457366555778-vv0tgm2u4ab79p9rp66mnbgm8rs0fdns</string>
	<key>API_KEY</key>
	<string>AIzaSyBgtJSH2_xhJzw_dvDieq8HuxrZyHcOUKM</string>
	<key>GCM_SENDER_ID</key>
	<string>457366555778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callor.firebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-my-app-1b681</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-my-app-1b681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457366555778:ios:7ad1d98b5c71f96662b89b</string>
</dict>
</plist>